<div class="intro-section">
  <mat-card>
    <mat-card-content>
      <h1>Whitlock</h1>
      <p>This is an app that allows you to upload documents and explore their content.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="drag-drop-area" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
    <mat-card-content>
         <p>Drag and drop files here</p>
         <p>or</p>
         <mat-button>
         <input mat-button mat-mini-fab color="primary" class="upload-btn" type="file" (change)="onFileSelected($event)" multiple>
         </mat-button>
     </mat-card-content>
        <mat-card-content>
         <button mat-button color="primary">Analyze files</button>
         <button mat-button color="warn">Reset</button>
     </mat-card-content>
  </mat-card>
</div>