.drag-drop-area {
    min-height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.badges-container {
  display: flex;
  flex-direction: row;
}

.badge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}

.badge-icon {
  font-size: 3rem;
}

.badge-item {
    margin-left: 15px;
    margin-right: 15px;
}

.badge-label {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-transform: uppercase;
}
