.layout {
  display: flex;
  flex-direction: column;
  height: 93vh;
}

.network-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.document-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  background-color: #f5f5f5;
  color: #333333;
  font-weight: bold;
  font-size: 16px;
}

.toolbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
}

.network-panel {
  position: relative;
}

#network-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid lightgray;
}



#textView {
  font-size: 9pt;
  overflow: scroll;
  max-height: 0px;
}

.search-field {
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
  z-index: 1;
  max-width: 50%;
  min-width: 25%;
}

.network-panel {
  position: relative;
}

#network-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid lightgray;
}

.mat-icon-button {
  color: #999999;
  padding: 8px;
}

.mat-icon-button:hover {
  background-color: #e0e0e0;
  border-radius: 50%;
}

#timeline-parent {
  background-color: whitesmoke;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  z-index: -500;
  opacity: 0;
}
.time-button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 16px;
  z-index: 1;
}